APP_CONFIG__RUN__RELOAD=1

# APP_CONFIG__LOGGING__LOG_FILE="app.log"

APP_CONFIG__API__TITLE="API"
APP_CONFIG__API__DESCRIPTION="Site API on FastAPI"

APP_CONFIG__DB__URL="postgresql+asyncpg://user:pwd@localhost:5432/app"
APP_CONFIG__DB__ECHO=1